@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: rgb(102, 102, 102);
  }
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.btn-gray {
  @apply text-gray-300 border-gray-400 cursor-pointer hover:border-gray-500;
}

.text-gray {
  @apply text-gray-300 text-sm font-bold
}

.kanban-col {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 400px;
  min-height: 256px;
  padding: 16px;
  border-radius: 5px;
}

.card-kanban {
  padding: 10px;
  width: 100%;
  min-height: 200px;
  border-radius: 0.40rem;
}

.calendar {
  width: 100%;
}

.icon-container {
  width: 2.5rem;
  height: 2.5rem;
  border: 1px solid gray;
}
